.sidebar-wrapper {
  height: 100%;
  position: fixed;
}

.sidebar-top {
  position: relative;
  height: calc(100px - 35px);
  width: 200px;
  display:block;
}
.sidebar {
  position: relative;
  height: calc(100% - 100px);
  width: 200px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  transition: 0.5s;
}

strong {
  background-color: #ffff9c;
}
