table {
  table-layout: fixed;
  td, th{
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
       -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
  }
}

td {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.td-summarycontent {
  text-align: left;
}

tr:first-child td {
  border-top: 1px solid #ccc;
}

td:last-child {
  border-right: 1px solid #ccc;
}

thead {
  text-align: center;
}
